.app {
  text-align: center;
}
.app__header {
  line-height: 58px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #ca5612;
  box-shadow: 0 2px 5px #a1a1a1;
}
.app__container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.app__selector {
  margin: 20px 0 0 0;
}
.app__logo {
  width: 32px;
  height: 32px;
  line-height: 58px;
  vertical-align: -.5rem;
  margin-right: 10px;
}